/* Стилизуйте контейнер для изображения и точек */
.image-container {
    position: relative;
    padding: 0;
    margin: 125px;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    margin: 0;
    width: inherit;
    height: inherit;
}

.point {
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}