#index-container {
    height: calc(100vh - 12px);
    margin: 0 auto; /* Center the clock horizontally */
    border: 5px solid var(--default_green); /* Green border */
    padding: 20px; /* Add padding for spacing */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px; /* Rounded corners */
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    text-align: justify;
    border-radius: var(--default_border_radius);
    padding: var(--default_padding);
    font-size: 20px;
    font-weight: 600;
    color: var(--complementary_green);
}

.header > * {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    padding: var(--default_padding);
}

.start_link{
    width: 200px;
    height: 200px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: calc(var(--default_font_size) * 1.8);
    font-weight: bold;
    cursor: pointer;
}

/* Clock Styles */
#clock-container {
    width: 90%; /* Adjust to your preferred width */
    margin: 0 auto; /* Center the clock horizontally */
    padding: 20px; /* Add padding for spacing */

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px; /* Rounded corners */
}

#clock {
    font-size: calc(var(--default_font_size) * 1.8);
    font-weight: bold;
    color: var(--complementary_green); /* Text color */
    text-align: center;
}

/* Date Styles */
#date {
    font-size: 24px;
    color: var(--complementary_green); /* Text color */
    text-align: center;
}