* {
    --default_green: #22EE55;
    --complementary_green: #009900;
    --default_grey: #EEEEEE;
    --default_border_radius: 10px;
    --default_margin: 10px;
    --default_font_size: 18px;
    --default_padding: 10px 15px;
    --default_font_family: monospace;
}

body {
    font-size: var(--default_font_size);
    font-family: var(--default_font_family);
}

form {
    border: solid 3px var(--default_green);
    border-radius: var(--default_border_radius);
}

form > div {
    margin: var(--default_margin);
}

form > div > * {
    margin: 5px 0;
}

form, form > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: var(--default_padding);
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.container > *:not(img, .image-container) {
    margin: var(--default_margin);
}

.x, .y {
    font-size: var(--default_font_size);
}

.submit-btn {
    display: inline-block;
    margin: var(--default_margin);
    padding: 8px 15px;
    background: var(--default_green);
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: var(--default_border_radius);
    transition: all 0.3s ease-out;
    box-shadow:
            inset 0 1px 0 rgba(255,255,255,0.5),
            0 2px 2px rgba(0,0,0,0.3),
            0 0 4px 1px rgba(0,0,0,0.2);
    /* Font styles */
    color: var(--complementary_green);
    text-decoration: none;
    font-family: var(--default_font_family);
    font-size: var(--default_font_size);
}

.submit-btn:enabled {
    cursor: pointer;
}

.submit-btn:enabled:hover {
    background: var(--complementary_green);
    color: white;
    text-shadow: unset;
}

.submit-btn:disabled {
    background: var(--default_grey);
}

a, .start_link, .to_start {
    display: inline-block;
    margin: var(--default_margin);
    padding: 8px 15px;
    background: var(--default_green);
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: var(--default_border_radius);
    transition: all 0.3s ease-out;
    box-shadow:
            inset 0 1px 0 rgba(255,255,255,0.5),
            0 2px 2px rgba(0,0,0,0.3),
            0 0 4px 1px rgba(0,0,0,0.2);
    /* Font styles */
    text-decoration: none;
    font-size: var(--default_font_size);
    font-family: var(--default_font_family);
}

a:hover, .start_link:hover, .to_start:hover {
    background: var(--complementary_green);
    color: white;
    text-shadow: unset;
    cursor: pointer;
}